<template>
		<div class="slds-box">

				<lightning-layout vertical-align="stretch" multiple-rows class="slds-text-align_center">
						<lightning-layout-item size="4" class="slds-align-middle">
								<b>Meter</b>
						</lightning-layout-item>
						<lightning-layout-item size="8" class="slds-align-middle">
								<b>Usage in Kwh</b>
						</lightning-layout-item>

						<template for:each={finalMeterList} for:item="item">
								<lightning-layout-item size="4" key={item.counter} class="slds-align-middle">
										{item.meter}
								</lightning-layout-item>
								<lightning-layout-item size="8" key={item.counter} class="slds-align-middle">
									<vlocity_cmt-input theme="nds"
																			 onblur={sendValtoOS}
																			 required
																			 type="number"  data-key={item.meter} variant="label-hidden"  value={item.value}
																			 ></vlocity_cmt-input>
									<!--	<lightning-input
																			 onblur={sendValtoOS}
																			 required
																			 type="number"  data-key={item.meter} variant="label-hidden"  value={item.value}
																			 ></lightning-input>-->
								</lightning-layout-item>
						</template>
				</lightning-layout>
		</div>
</template>