<template>
		<lightning-layout>
					<template if:true={showLoading}>
						<vlocity_cmt-spinner theme="nds" alternative-text="Loading" size="medium" class="spinnerClass"></vlocity_cmt-spinner>
				</template>
				<lightning-layout-item size="12">
					<button type="submit" onclick={onSearchHandle} class="slds-button slds-button_brand slds-button_stretch slds-m-top_large">Search</button>
				</lightning-layout-item>
		</lightning-layout><br/>
		<template if:true={searchResultTableFlag}>

			<lightning-card>
				<lightning-layout vertical-align="stretch" multiple-rows>

						<lightning-layout-item size="12" large-device-size="4" small-device-size="12" medium-device-size="12" class="slds-border_right customSroll" padding="around-small">
								<div class="slds-text-align_center slds-text-heading_medium slds-m-bottom_small">Electricity</div>

								<template for:each={electricityCheckboxOptions} for:item="record" for:index="index">
										<lightning-layout vertical-align="stretch" key={record.icpNo}>
												<lightning-layout-item size="1" class="slds-p-right_x-small">
														<lightning-icon class="slds-float_right slds-m-around_xxx-small" icon-name="utility:preview" data-info={record.icpNo}   onclick={onElectricityPreviewClick} size="xx-small" ></lightning-icon>
												</lightning-layout-item>
												<lightning-layout-item size="11">
														<div class="slds-truncate" >

																<lightning-input data-info={record.icpNo}
																								 type="checkbox" 
																								 label={record.label}

																								 onchange={onElectricityCheckBoxSelected}
																								 >
																</lightning-input>
														</div>
												</lightning-layout-item>
										</lightning-layout>
								</template>

								<template if:true={electricityCheckboxEmptyFlag}>
										<div class="slds-text-align_center">
												<!--No Electricity Service Available-->
												No Electricity Service Available
										</div>
								</template> 

						</lightning-layout-item>

						<lightning-layout-item size="12" large-device-size="4" small-device-size="12" medium-device-size="12" class="slds-border_right customSroll" padding="around-small">
								<div class="slds-text-align_center slds-text-heading_medium slds-m-bottom_small">Gas</div>

								<template for:each={gasCheckboxOptions} for:item="record" for:index="index">
										<lightning-layout vertical-align="stretch" key={record.icpNo}>
												<!-- onmouseover={onElectricityPreviewClick} onmouseout={handlecloseModalEvent}-->
												<lightning-layout-item size="1" class="slds-p-right_x-small">
														<lightning-icon class="slds-float_right slds-m-around_xxx-small" icon-name="utility:preview" data-info={record.icpNo}   onclick={onGasPreviewClick} size="xx-small" ></lightning-icon>
												</lightning-layout-item>
												<lightning-layout-item size="11">
														<div class="slds-truncate" >

																<lightning-input     			data-info={record.icpNo}
																								 type="checkbox" 
																								 label={record.label}
																								 value={record.value}
																								 onchange={onGasCheckBoxSelected}
																								 >

																</lightning-input>

														</div>
												</lightning-layout-item>
										</lightning-layout>


								</template>
								<template if:true={gasCheckboxEmptyFlag}>
										<div class="slds-text-align_center">
												No Gas Service Available <!--No Gas Service Available -->
										</div>
								</template> 
						</lightning-layout-item>

						<lightning-layout-item size="12" large-device-size="4" small-device-size="12" medium-device-size="12" class="slds-border_right" padding="around-small">
								<div class="slds-text-align_center slds-text-heading_medium slds-m-bottom_small">LPG</div>

								<template for:each={lpgCheckboxOptions} for:item="record" for:index="index">
										<lightning-layout vertical-align="stretch" key={record.label}>
												<lightning-layout-item size="1" class="slds-p-right_x-small">
														<!--lightning-icon class="slds-float_right slds-m-around_xxx-small" icon-name="utility:preview" data-info={record.label}   onclick={onLpgPreviewClick} size="xx-small" ></lightning-icon-->
												</lightning-layout-item>
												<lightning-layout-item size="11">
														<div class="slds-truncate" >

																<lightning-input data-info={record.value}
																								 type="checkbox" 
																								 label={record.label}
																								 onchange={onLpgCheckBoxSelected}
																								 >

																</lightning-input>

														</div>
												</lightning-layout-item>
										</lightning-layout>


								</template>
								<template if:true={lpgCheckboxEmptyFlag}>
										<div class="slds-text-align_center">
												No Service Delivery Available <!--No LPG Service Available-->
										</div>
								</template> 
						</lightning-layout-item>
						<lightning-layout-item size="12" large-device-size="12" small-device-size="12" medium-device-size="12" class="slds-text-align_center" padding="around-small">
							<lightning-button variant="brand" label="Add to sites" onclick={handleAddToSitesClick} class="slds-m-left_x-small" ></lightning-button>
					</lightning-layout-item>
				</lightning-layout>

		</lightning-card>

		</template>
		
		<c-icp-modal-component open-modal={openModal} modal-header={modalHeader} modal-body={modalBody} onclosemodalevent={handlecloseModalEvent}></c-icp-modal-component>
		<c-icp-add-to-sites-modal open-modal={addToSiteModal} options={addToSitesOptions} onclosemodalevent={handleAddToSiteCancelModalEvent} onselectsiteevent={handleAddToSiteCloseModalEvent}></c-icp-add-to-sites-modal>
		<c-toast-message message={toastMessage} showtoast={showToastFlag} onclosetoastevent={handleCloseToastEvent}></c-toast-message>

</template>